@charset "UTF-8";

#container {
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    z-index: 0;
}
#nemo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #C4E1FF;
    height: 700px;
    width: 350px;
    border-radius: 50px;
    z-index: -1;
}
img {
    height: 750px;
}
#a {
    position: absolute;
    top: 55%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 350px;
}
.chat-content {
    height: 530px;
    overflow-y: scroll;
    padding: 10px 30px;
}
.chat-content::-webkit-scrollbar {
    display: none;
}
.line {
    margin-top: 10px;
    display: flex;
}

.chat-box {
    background: #eee;
    padding: 5px;
    max-width: 200px;
}
.mine {
    margin-left: auto;
    background-color: #2F4F4F;
    color: white;
}
.chat-input {
    order: 0;
    border-radius: 30px;
    border: none;
    margin-top: 13px;
    margin-left: 20px;
    width: 235px;
    height: 35px;
    padding: 0 20px 0 20px;
    display: inline-block;
}
.bottom-bar {
    height: 60px;
    width: 320px;
    position: relative;
    margin: auto;
} 
#btn {
    background-color: #5e97d1;
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    z-index: 1;
    border-style: none;
    margin-left: 5px;
}

/* 호버를 주기 위한 css */
.for-hover{
	transition: transform 0.3s ease;
}
.for-hover:hover {
	transform: scale(1.09);
}