@charset "UTF-8";
/* 스크롤 부드럽게 */
html {
	max-width: 100vw;
	overflow-x: hidden;
    scroll-behavior: smooth;
    
}

body {
	background-color: #D3D3D3;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

/* 동영상 부분 */
.jb-box {
	width: 100%;
	overflow: hidden;
	margin: 0px auto;
	position: absolute;
	position: fixed;
	z-index: -9;
	top: 0;
}

video {
	width: 100%;
	height: calc(100vh + 80px);
	object-fit: cover;
	
}

/* 비디오 및 사진 스크롤 관련 css */
.outerClass{
	height: 2000px;
}

.innerClass{
	position: sticky;
	top: 0;
}
/* 당신의 공간을 새롭게 정의해 보세요 스크롤 부분*/
.outerClass2{
	height: 500px;
}

.innerClass2{
	position: sticky;
	top: 50vh;
}

.textDeco {
	text-align: center; 
	z-index: 10; 
	color: white;
}

.scrollText {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);	
}

/* 공통 css */
.margin-top-200px{
	margin-top: 200px;
}

.margin-top-60vh{
	margin-top: 60vh;
}

.margin-bottom-80vh{
	margin-bottom: 80vh;
}

.product {
	margin-top: 3vh;
	background-color: #174c6b;
	padding: 30px 100px;
	width: 100%;
    box-shadow: 5px 10px 30px 10px gray;
    border-radius: 20px; 
    transition: transform 0.3s ease;
    color: white;
}

.product:hover {
	transform: scale(1.05);
}
