@charset "UTF-8";

* {
	box-sizing: content-box;
}

/* 동영상 */
.jb-box {
	width: 100%;
	height: 500px;
	overflow: hidden;
	margin: 0px auto;
	position: relative;
}

video {
	width: 100%;
}

/* 리스트에 있는 이미지 크기 조정 */
.jb-text {
	position: absolute;
	top: 50%;
	width: 100%;
}

.jb-text p {
	margin-top: -24px;
	text-align: center;
	font-size: 48px;
	color: #ffffff;
}

#carouselExampleSlidesOnly {
	max-width: 800px; /* 원하는 최대 너비로 설정 */
	margin: 100px auto; /* 가운데 정렬을 위해 가로 여백을 자동으로 설정 */
}

#sectionImg {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center; /* 텍스트를 수평 가운데로 정렬 */
}

#sectionImg img {
	width: 86px;
	height: 86px;
	padding: 5px;
	margin: 40px 15px;
	border: 1px solid rgba(128, 128, 128, 0.5);
	border-radius: 35%;
}

#sectionImg p {
	display: inline-block;
	padding: 5px;
	margin: 10px;
}

/* main Input Part */
#inputconflex {
	margin-bottom: 5vh;
}

.inputcon {
  position: relative;
  width: 600px;
  margin: 0 auto; /* 가로 가운데 정렬을 위해 margin을 0 auto로 설정합니다. */
  margin-top: 100px;
  text-align: center; /* 입력 필드와 라벨을 텍스트 중앙으로 정렬합니다. */
}

.inputcon input {
  font-size: 15px;
  color: #222222;
  width: 300px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  background: none;
  z-index: 5;
}

.inputcon input,
.inputcon label {
  width: 100%; /* 입력 필드와 라벨의 너비를 100%로 설정하여 부모 요소에 맞게 확대됩니다. */
  left: 0;
  transform: none;
}

.inputcon input::placeholder { color: #aaaaaa; }
.inputcon input:focus { outline: none; }

.inputcon span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;  /* right로만 바꿔주면 오 - 왼 */
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.inputcon label {
position: absolute;
color: #aaa;
left: 50%;
transform: translateX(-50%);
font-size: 20px;
bottom: 8px;
transition: all .2s;
}

.inputcon input:focus ~ label, input:valid ~ label {
font-size: 16px;
bottom: 40px;
color: #666;
font-weight: bold;
}

.inputcon input:focus ~ span, input:valid ~ span {
width: 100%;
}

/* A/S부분 css */
.image-section {
	margin-top: 120px;
	text-align: center;
}

.image-container h2 {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 40px;
	color: #333;
	text-align: center;
}

	
.image-container img {
	border-radius: 30px;
}
 
.image-container h3 {
	position: absolute;
	top: 78%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-size: 18px;
	color: #666;
}

/* 메인 리스트 이미지에 호버를 주기 위한 css */
.for-hover{
	transition: transform 0.3s ease;
}
.for-hover:hover {
	transform: scale(1.09);
}
.for-hover2{
	transition: transform 0.3s ease;
}
.for-hover2:hover {
	transform: scale(1.03);
}

/* as버튼 */
#asBtn {
	margin-top: 30px;
}

/* 버튼 */
.btn1 {
	background-color: #133d55;
	color: white;
}

.btn2 {
	background-color: #1d5f85;
	color: white;
}

.btn3 {
	background-color: #414141;
	color: white;
}

.btn4 {
	background-color: #005282;
	color: white;
}
/* 버튼 호버 */
.btn1:hover {
	background-color: #414141;
	color: white;
}

.btn2:hover {
	background-color: #133d55;
	color: white;
}

.btn3:hover {
	background-color: #1d5f85;
	color: white;
}

.btn4:hover {
	background-color: #414141;
	color: white;
}