@charset "UTF-8";

body {
	background-color: #D3D3D3;
	box-sizing: content-box;
	margin: 0;
	padding: 0;
}

.product {
	margin-top: 3vh;
	background-color: #174c6b;
	padding: 30px 100px;
	width: 100%;
    box-shadow: 5px 10px 30px 10px gray;
    border-radius: 20px; 
    transition: transform 0.3s ease;
    color: white;
}

.product2:hover {
	transform: scale(1.05);
}

/* table에 대한 css */

table {
	width: 800px;
}
.table2 {
	width: 1000px;
}